<ul>
    <li class="mb-4">
        <div class="sidebar-item active">
            <i class="fas fa-home mr-3"></i>
            <span>Inicio</span>
        </div>
    </li>
    <li class="mb-4">
        <div class="sidebar-item">
            <i class="fas fa-calendar-alt mr-3"></i>
            <span>Turnos</span>
        </div>
    </li>
    <li class="mb-4">
        <div class="sidebar-item">
            <i class="fas fa-tools mr-3"></i>
            <span>Talleres</span>
        </div>
    </li>
    <li class="mb-4">
        <div class="sidebar-item">
            <i class="fas fa-clock mr-3"></i>
            <span>Próximos mantenimientos</span>
        </div>
    </li>
    <li class="mb-4">
        <div class="sidebar-item">
            <i class="fas fa-cog mr-3"></i>
            <span>Configuración</span>
        </div>
    </li>
</ul>