# Entorno virtual
venv/

# Archivos de configuración de VSCode (opcional)
.vscode/

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Archivos temporales
*.log
*.sqlite3

# Archivos de base de datos local
db.sqlite3

# Configuraciones de sistema
*.DS_Store
